html,body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
pre {
  font-family: inherit;
}
a:link,
a:visited,
a:hover,
a:active{
  color: inherit;
  text-decoration: none;
}